        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">歌力思</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <!-- <div class="panel panel-default"> -->
                        <!-- <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <!-- /.panel-heading -->
                        <!-- <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div> -->
                        <!-- /.panel-body -->
                    <!-- </div> -->
                    
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> 今日任务（2014年6月12日）
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge success"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">修复bug（完成）</h4>
                                            <p>
                                                <small class="text-muted"><i class="fa fa-time"></i> 于2014年10月20日创建</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>这个是一个很长很长的描述，呵呵</p>
                                            <hr>
                                            <select id="disabledSelect" class="form-control">
                                                <option>未完成</option>
                                                <option>进行中</option>
                                                <option selected>已完成</option>
                                             </select>
                                        </div>
                                    </div>
                                </li>

                                <li class="timeline-inverted">
                                    <div class="timeline-badge info"><i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">优化界面（进行中）</h4>
                                            <small class="text-muted"><i class="fa fa-time"></i> 于2014年10月20日创建</small>
                                        </div>
                                        <div class="timeline-body">
                                            <p></p>
                                            <hr>
                                            <select id="disabledSelect" class="form-control">
                                                <option >未完成</option>
                                                <option selected>进行中</option>
                                                <option >已完成</option>
                                             </select>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted" >
                                    <div class="timeline-badge danger"><i class="fa fa-anchor"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">新建一个工作日志app（未完成）</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>先做界面，</p>
                                            <hr>
                                            <select id="disabledSelect" class="form-control">
                                                <option selected>未完成</option>
                                                <option>进行中</option>
                                                <option >已完成</option>
                                             </select>
                                        </div>
                                    </div>
                                </li>                                
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> 程序bug 面板
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-wrench fa-fw"></i> 修复什么的
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">查看全部</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    
                    <!-- /.panel -->
                    <div class=" panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            工作总结
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i> 重新加载
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa fa-users fa-fw"></i> 同事工作总结
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa fa-user fa-fw"></i> 我的工作总结
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Mok</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 2014年10月1日
                                            </small>
                                        </div>
                                        <p>
                                           今日总结： 我撒旦法额外人权威疗法第三方科技阿萨；地方啊是你反馈那是地方看看那；水电暖；纳斯达克妇女奥斯卡的烦恼阿卡烦死你安康；收
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 2014年10月1日</small>
                                            <strong class="pull-right primary-font">me</strong>
                                        </div>
                                        <p>
                                           今日总结： 我撒旦法额外人权威疗法第三方科技阿萨；地方啊是你反馈那是地方看看那；水电暖；纳斯达克妇女奥斯卡的烦恼阿卡烦死你安康；收到
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                           <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->


